h1 {
   color: orange;
   font-size: small;
}
.main {
   border: 1px solid black;
   width: 720px;
   margin: 0 auto;
}

.top {
   background-image: url(img/top_bg.jpg);
   height: 380px;
}
.top_m {
   width: 500px;
   margin: 0 auto;
   height: 400px;
}
.top_m_left h2 {
   width: 250px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 50px;
}
.top_m_left p {
   width: 200px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50%;
   line-height: 150%;
}
.top_m_left {
   display: inline-block;
}
.top_m_right {
   display: inline-block;
   width: 240px;
   position: relative;
   top: 55px;
}

.buttons {
}
.one {
   background-color: #fc6a42;
   color: white;
   border-width: 0px;
   border-radius: 2px;
   font-size: 15%;
   padding: 5px 15px 5px 15px;
}
.two {
   background-color: #4466c9;
   color: white;
   border-width: 0px;
   border-radius: 2px;
   font-size: 15%;
   padding: 5px 15px 5px 15px;
}
.s_icons {
   display: inline;
}
.s_icons ul li {
   display: inline;
   padding-right: 0px;
}
.top_mainmenu {
   width: 500px;
   margin: 0 auto;
   padding-top: 20px;
}
.top_mainmenu ul {
   display: inline;
   font-family: Arial, Helvetica, sans-serif;
   font-size: xx-small;
   letter-spacing: -1px;
   color: rgb(219, 219, 219);
}
.top_mainmenu ul li {
   display: inline;
   padding-right: 15px;
}
.top_footer {
   height: 30px;
   width: 30px;
   position: relative;
   top: -80px;
   margin: 0 auto;
   top: -120px;
}
.features {
   height: -100px;
   width: 500px;
   margin: 0 auto;
}
.features h3 {
   color: #648cff;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
}
.features p {
   color: #979797;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50%;
}
.feat {
   width: 32.4%;
   height: 100px;
   display: inline-block;
}
.feat h4 {
   text-align: left;
   padding-left: 45px;
   font-size: 50%;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
}
.feat p {
   text-align: left;
   padding-left: 45px;
   font-size: 25%;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 180%;
}
.feat img {
   float: left;
   width: 20%;
   padding-top: 5px;
}

.widget {
   width: 400px;
   margin: 0 auto;
}
.widget h3 {
   color: #648cff;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
}
.widget p {
   color: #979797;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50%;
}
.l_arrow {
   display: inline-block;
   width: 5%;
   position: relative;
   top: -160px;
}
.r_arrow {
   display: inline-block;
   position: relative;
   width: 5%;
   top: -160px;
   left: 69px;
}
.c_widget {
   display: inline-block;
   width: 75%;
}

.l_arrow img {
   width: 40%;
}
.r_arrow img {
   width: 40%;
   padding-top: 5px;
}
.c_widget img {
   width: 120%;
   padding-top: 5px;
}
.screenshots {
   width: 400px;
   margin: 0 auto;
}
.screenshots h3 {
   color: #648cff;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
}
.screenshots p {
   color: #979797;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50%;
}
.screenshot_top {
   padding-top: 10px;
   width: 500px;
   margin: 0 auto;
}
.st_left {
   display: inline-block;
   position: relative;
   width: 200px;
   left: -20px;
}
.st_right {
   position: relative;
   display: inline-block;
   width: 200px;
   top: -115px;
   left: 10px;
}
.st_left img {
   width: 100%;
}
.st_right h4 {
   color: #648cff;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
   font-size: 1em;
   font-weight: bold;
}
.st_right p {
   color: black;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 100%;
   font-size: xx-small;
}
.st_right img {
   width: 30%;
}
.screenshot_middle {
   padding-top: 10px;
   width: 500px;
   margin: 0 auto;
}
.sm_left {
   display: inline-block;
   position: relative;
   width: 200px;
   left: 40px;
}
.sm_right {
   position: relative;
   display: inline-block;
   width: 200px;
   height: 300px;
   top: -90px;
   left: 10px;
}
.sm_left img {
   width: 100%;
}
.sm_right h4 {
   color: #648cff;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
   font-size: 1em;
   font-weight: bold;
}
.sm_right p {
   color: black;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 100%;
   font-size: xx-small;
}
.sm_right img {
   width: 20%;
}
.screenshot_bottom {
   padding-top: 10px;
   width: 500px;
   margin: 0 auto;
}
.sb_left {
   display: inline-block;
   position: relative;
   width: 200px;
   left: -20px;
}
.sb_right {
   position: relative;
   display: inline-block;
   width: 200px;
   height: 300px;
   top: -90px;
   left: 10px;
}
.sb_left img {
   width: 100%;
}
.sb_right h4 {
   color: #648cff;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
   font-size: 1em;
   font-weight: bold;
}
.sb_right p {
   color: black;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 100%;
   font-size: xx-small;
}
.sb_right img {
   width: 30%;
}
.reviews {
   width: 500px;
   margin: 0 auto;
}
.reviews h4 {
   color: #648cff;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 0%;
}
.reviews p {
   color: #979797;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 50%;
}
.cont-rev {
   margin: 0 auto;
   width: 480px;
}
.block {
   width: 220px;
   display: inline-block;
   padding-right: 10px;
}
.block p {
   color: black;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 100%;
   font-size: xx-small;
}
.block span {
   color: black;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 100%;
   font-size: xx-small;
}
.block img {
   width: 8%;
}
.skoba {
   width: 8%;
   float: right;
}
.rule {
   height: 30px;
}
.download {
   background-color: #648cff;
}
.d_container {
   width: 500px;
   margin: 0 auto;
}
.d_left {
   display: inline-block;
   width: 42%;
}
.d_left h5 {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 15px;
}
.d_left p {
   color: #e2e2e2;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 8px;
   line-height: 1.3em;
}
.d_left img {
   width: 30%;
}
.apple {
   width: 35%;
}
.d_right {
   display: inline-block;
   width: 50%;
}
.d_right img {
   width: 100%;
   padding-left: 30px;
}
.footer {
   background-color: darkmagenta;
   height: 150px;
}
